body {
    margin: 2vmax 2vmax;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.0em;

    display: flex;
    flex-direction: column;

    padding: 2vmax 2vmax 0.5vmax 2vmax;
    height: calc(100vh - 4vmax);

    background: white;
    border: 1px solid slategray;
    /* or 2e6ac4 */
}

html {
    background: #f6f6f6;
    background-image: linear-gradient(to bottom, #f6f6f6 50%, #e9e9e9 100%);
}


h1,
h2,
h3,
h4 {
    font-family: 'Linux Libertine', 'Georgia', 'Times', serif;
    line-height: 1.4;
    font-weight: normal;
    font-size: 1.4em;
    margin: 0;
}

h1,
h2 {
    font-size: 2em;
}

button,
.btn {
    cursor: pointer;
    background: #e0e0e0;
    color: black;
    transition: background 0.2s;
    padding: 0.2ch 1ch;
    border: 0.1rem solid;
    border-radius: 5px;
}

button:hover,
.btn:hover {
    filter: brightness(105%) saturate(60%);
}

#nav,
hr {
    border: 0;
    border-bottom: 1px solid #ccc;
    margin: 0;
}

br {
    user-select: none;
}

ul {
    list-style: none;
    align-items: center;
    text-align: center;
}

a {
    text-decoration: none;
    color: #0645ad;
    /* or #0645ad */
}

p {
    padding: 1vmax;
    text-align: left;
}

@keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

#info>* {
    animation: 1.2s 1 fadein;
}

#nav a {
    padding: 0.5em;
}

#confetti {
    position: absolute;
    z-index: 100;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100vw;
    height: 100vh;
    pointer-events: none;
    display: none;
    opacity: 0;
    transition: opacity 1.5s ease-in;
}

#lossoverlay {
    position: absolute;
    z-index: 100;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100vw;
    height: 100vh;
    pointer-events: none;
    display: none;
    opacity: 0;
    transition: opacity 1.5s ease-in;
    backdrop-filter: contrast(80%);
    overflow: hidden;
}

a:hover:not(.btn) {
    filter: brightness(1.5);
    /*text-decoration: underline;*/
}

.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flex>* {
    margin: 0 1vmax;
    min-height: 100%;
}

.f-start {
    align-items: flex-start;
}

.wrap {
    flex-wrap: wrap;
}

.inline {
    display: inline-block;
    height: 1em;
    transform: translateY(0.2em);
}

.columns {
    column-count: 3;
    column-gap: 40px;
}

#spinner {
    opacity: 0;
    transition: opacity 0.5s;
}

#main {
    align-items: flex-start;
    padding: 1vmax;

    flex: 1 1;
    overflow-y: auto;
    overflow-x: hidden;
}

.merged-input {
    display: flex;

    border: 1px solid #ccc;
    border-radius: 2px;
    overflow: hidden;

    transition: border-color 0.2s;
}

.merged-input:hover {
    border-color: #aaa;
}

.merged-input:focus-within {
    border-color: #0645ad;
    box-shadow: inset 0 0 0 1px #3366cc;
}

.merged-input>* {
    border: 0;
    border-radius: 0;
    flex: 1;
    padding: 0 0.6em;
}

.glide__slide {
    padding: 0 3ch;
}

.glide__arrow {
    position: absolute;
    display: block;
    top: 50%;
    z-index: 2;
    color: black;
    text-transform: uppercase;
    padding: 9px 12px;
    background-color: transparent;
    border: 0px solid transparent;
    border-radius: 4px;
    text-shadow: 0 .25em .5em rgba(0, 0, 0, .1);
    opacity: 1;
    cursor: pointer;
    transition: opacity 150ms ease, border 300ms ease-in-out;
    transform: translateY(-50%);
    line-height: 1;
}

.glide__arrow--left {
    left: 0;
}

.glide__arrow--right {
    right: 0;
}

@media screen and (max-width: 600px) {
    .main {
        flex-direction: column;
    }

    .columns {
        column-count: 1;
    }
}

@media (max-width: 1080px) {
    #main {
        flex-direction: column-reverse;
    }

    #main>* {
        width: 96%;
        min-height: unset;
    }

    body {
        font-size: 2vw;
    }

    h1,
    h2 {
        font-size: 2em;
    }

    .merged-input>* {
        font-size: 1.3em;
    }

    .glide__slide .flex {
        flex-direction: column;
        font-size: 4vw;
    }

    .glide__slide h2 {
        font-size: 4vw;
    }
}