/* Lightbox */
.lightbox {
    display: flex;
    align-items: center;
    justify-content: center;


    /* Overlay entire screen */
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;


    /*padding: 10vh 15vw !important;*/
    padding: 15vh 0vw;

    /* Translucent background */
    background: rgba(0, 0, 0, 0.6);
    backdrop-filter: saturate(80%) blur(4px);

    /* Hide by default */
    opacity: 0;
    transition: opacity 0.3s ease, backdrop-filter 0.3s ease;
    pointer-events: none;
}

/* Unhide the lightbox when it's the target */
.lightbox:target {
    opacity: 1;
    pointer-events: auto;
}

.lightbox .backdrop {
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.lightbox>*:not(a, .lightbox-section) {
    margin: 3vmax;
    z-index: 1000;
}

.lightbox-section {
    background: white;
    width: fit-content;
    height: fit-content;
    max-height: 80vh;
    z-index: 1000;
    overflow: auto;
    margin: 3vmax;
    padding: 3vmax;
    padding-bottom: 6vmax;
}

.lightbox-section.small {
    width: 50%;
    height: min-content;
}