<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title> Peopledle </title>

    <link rel="stylesheet" href="static/css/reset.css" />
    <link rel="stylesheet" href="static/css/index.css" />
    <link rel="stylesheet" href="static/css/lightbox.css" />
    <link rel="stylesheet" href="https://unpkg.com/@glidejs/glide@3.6.0/dist/css/glide.core.min.css" />
</head>

<body>
    <datalist id="names">
        <option value="Not loaded">
    </datalist>

    <canvas id="confetti"></canvas>

    <section id="nav" class="flex" style="align-items: baseline;">
        <h1>Peopledle</h1>
        <div>
            <a href="#past-peoples">Past Peoples</a>
            <a href="#how-to">How to Play</a>
        </div>

    </section>

    <section id="main" class="flex">
        <div style="flex: 1;">
            <h3>Information</h3>
            <ol id="info">
                <li>{{ info['guesses'][0] }}</li>
            </ol>
        </div>
        <div style="flex: 0.7;">
            <br>
            <div class="merged-input">
                <input type="text" placeholder="Submit your guess" id="guess" list="names" />
                <button id="submit" style="flex: 0.2;" onclick="submitGuess()">
                    Guess
                    <img id="spinner" class="inline" alt="spinner" src="static/img/spinner.svg">
                </button>
            </div>

            <ul id="guesses">
                <li> <em>Your guesses will appear here</em> </li>
            </ul>
        </div>
    </section>
    <section id="footer" class="flex">
        <p>
            Made with
            <img class="inline" alt="❤️" src="static/img/heart.svg">
            by <a href="https://leibmann.org">Leon</a> and <a
                href="https://www.linkedin.com/in/rich-chen-a1aa621b0/">Rich</a>
        </p>
        <p>
            <a href="https://github.com/Pop101/Peopledle" class="btn" style="border-color:#999;font-size: small;">
                v0.1
            </a>
        </p>
    </section>

    <div class="lightbox flex" id="past-peoples">
        <a href="#" class="backdrop"></a>
        <section class="lightbox-section">
            <h2>Past People</h2>
            <hr>
            <ol class="columns">
                {% for i in range(1, current_day + 1) %}
                <li>
                    <a href="/{{ i }}">Puzzle {{ i }}
                        {% if get_avg(i) != '0' %}
                        (Avg. {{ get_avg(i) }})
                        {% endif %}
                    </a>
                </li>
                {% endfor %}
            </ol>
        </section>
    </div>
    <div class="lightbox flex" id="how-to">
        <a href="#" class="backdrop"></a>
        <section class="lightbox-section small">
            <h2>How to Play</h2>
            <hr> <br>
            <div class="glide">
                <div class="glide__track" data-glide-el="track">
                    <ul class="glide__slides">
                        <li class="glide__slide">0</li>
                        <li class="glide__slide">1</li>
                        <li class="glide__slide">2</li>
                    </ul>
                </div>
                <div class="glide__arrows" data-glide-el="controls">
                    <button class="glide__arrow glide__arrow--left" data-glide-dir="<">❮</button>
                    <button class="glide__arrow glide__arrow--right" data-glide-dir=">">❯</button>
                </div>
            </div>
            <a href="#" class="btn">Go!</a>

        </section>
    </div>
    <div class="lightbox flex" id="correct">
        <a href="#" class="backdrop"></a>
        <section class="lightbox-section small">
            <h2>You Win!!!</h2>
            <hr> <br>
            <p>
                You Got Good
            </p>
        </section>
    </div>
    <div class="lightbox flex" id="lose">
        <a href="#" class="backdrop"></a>
        <section class="lightbox-section small">
            <h2>You Lose</h2>
            <hr> <br>
            <p>
                See <a href="#how-to">step 1</a>
            </p>
        </section>
    </div>

    <script src="https://unpkg.com/@glidejs/glide@3.6.0/dist/glide.min.js"></script>
    <script src="static/js/confetti.js"></script>
    <script src="static/js/index.js"></script>
</body>

</html>