<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title> Peopledle </title>

    <link rel="stylesheet" href="static/css/reset.css" />
    <link rel="stylesheet" href="static/css/index.css" />
    <link rel="stylesheet" href="static/css/lightbox.css" />
    <link rel="stylesheet" href="https://unpkg.com/@glidejs/glide@3.6.0/dist/css/glide.core.min.css" />
</head>

<body>
    <datalist id="names">
        <option value="Not loaded">
    </datalist>

    <canvas id="confetti"></canvas>
    <div id="lossoverlay"></div>

    <section id="nav" class="flex" style="align-items: baseline;">
        <h1>Peopledle</h1>
        <div>
            <a href="#past-peoples">Past Peoples</a>
            <a href="#how-to">How to Play</a>
        </div>

    </section>

    <section id="main" class="flex">
        <div style="flex: 1;">
            <h3>Information</h3>
            <ol id="info">
                <li>{{ info['guesses'][0] }}</li>
            </ol>
        </div>
        <div style="flex: 0.7;">
            <br>
            <div class="merged-input">
                <input type="text" placeholder="Submit your guess" id="guess" list="names" />
                <button id="submit" style="flex: 0.2;" onclick="submitGuess()">
                    Guess
                    <img id="spinner" class="inline" alt="spinner" src="static/img/spinner.svg" style="display:none">
                </button>
            </div>

            <ul id="guesses">
                <li> <em>Your guesses will appear here</em> </li>
            </ul>
        </div>
    </section>
    <section id="footer" class="flex">
        <p>
            Made with
            <img class="inline" alt="❤️" src="static/img/heart.svg">
            by <a href="https://leibmann.org">Leon</a> and <a
                href="https://www.linkedin.com/in/rich-chen-a1aa621b0/">Rich</a>
        </p>
        <p>
            <a href="https://github.com/Pop101/Peopledle" style="font-size: small;">
                {{ version }}
            </a>
        </p>
    </section>

    <div class="lightbox flex" id="past-peoples">
        <a href="#" class="backdrop"></a>
        <section class="lightbox-section">
            <h2>Past People</h2>
            <hr>
            <ol class="columns">
                {% for i in range(1, current_day + 1) %}
                <li>
                    <a href="/{{ i }}">Puzzle {{ i }}
                        {% if get_avg(i) != '0' %}
                        (Avg. {{ get_avg(i) }})
                        {% endif %}
                    </a>
                </li>
                {% endfor %}
            </ol>
        </section>
    </div>
    <div class="lightbox flex" id="how-to">
        <a href="#" class="backdrop"></a>
        <section class="lightbox-section" style="width: 70%;">
            <h2>How to Play</h2>
            <hr> <br>
            <div class="glide">
                <div class="glide__track" data-glide-el="track">
                    <ul class="glide__slides">
                        <li class="glide__slide">
                            <h2>Welcome!</h2>
                            <div class="flex f-start">
                                <p>
                                    Guess the influential person from their wikipedia page!
                                    Each day, a new person will be chosen at random from
                                    <a href="https://en.wikipedia.org/wiki/Wikipedia:Vital_articles">wikipedia's vital
                                        articles</a>
                                </p>
                                <img src="static/img/start.png" style="flex: 0.2;">
                            </div>

                        </li>
                        <li class="glide__slide">
                            <div class="flex f-start">
                                <p style="text-align: left;">
                                    Use the clues to gather information,
                                    then, make your choice using the dropdown menu
                                </p>
                                <img src="static/img/win.jpg" style="flex: 0.2;">
                            </div>
                        </li>
                        <li class="glide__slide">
                            <div class="flex f-start">
                                <p>
                                    This time, it was <a href="https://en.wikipedia.org/wiki/Homer">Homer</a>.
                                    Who will it be tomorrow?

                                    <br><br>
                                    Even ancient history is fair game!
                                </p>
                                <img src="//upload.wikimedia.org/wikipedia/commons/thumb/1/1c/Homer_British_Museum.jpg/220px-Homer_British_Museum.jpg"
                                    alt="A picture of Homer">
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="glide__arrows" data-glide-el="controls">
                    <button class="glide__arrow glide__arrow--left" data-glide-dir="<">❮</button>
                    <button class="glide__arrow glide__arrow--right" data-glide-dir=">">❯</button>
                </div>
            </div>
            <div class="flex">
                <div></div>
                <a href="#" class="btn">Go!</a>
            </div>

        </section>
    </div>
    <div class="lightbox flex" id="correct">
        <a href="#" class="backdrop"></a>
        <section class="lightbox-section">
            <h2>You Win!!!</h2>
            <hr> <br>
            <h2>
                {{ info['name'] }}
            </h2>
            <div class="flex f-start">
                <p>{{ info['summary'] }}</p>
                <img src="{{ info['img'] }}" alt="A picture of {{ info['name'] }}" style="flex: 0.2;">
            </div>

        </section>
    </div>
    <div class="lightbox flex" id="lose">
        <a href="#" class="backdrop"></a>
        <section class="lightbox-section small">
            <h2>You Lose</h2>
            <hr> <br>
            <p>
                You ran out of guesses.
            </p>
            <br>
            <div class="flex">
                <button class="btn" onclick="concede()">Show me the answer</button>
                <a href="#" class="btn">Keep Going!</a>
            </div>
        </section>
    </div>
    <div class="lightbox flex" id="answer">
        <a href="#" class="backdrop"></a>
        <section class="lightbox-section">
            <h2>{{ info['name'] }}</h2>
            <hr> <br>
            <div class="flex" style="align-items: flex-start;">
                <p>{{ info['summary'] }}</p>
                <img src="{{ info['img'] }}" alt="A picture of {{ info['name'] }}" style="flex: 0.2;">
            </div>
        </section>
    </div>

    <script src="https://unpkg.com/@glidejs/glide@3.6.0/dist/glide.min.js"></script>
    <script src="static/js/confetti.js"></script>
    <script src="static/js/index.js"></script>
    <script>
        const answer = "{{ info['name'] }}";
    </script>
</body>

</html>